@font-face {
    font-family: "Vazirmatn";
    src: url("Vazirmatn-Regular.ttf");
}

@font-face {
    font-family: "Tengwar";
    src: url("./AlcarinTengwarVF.ttf");
}

body {
    background-color: #f4eadb;
    font-family: 'Vazirmatn';
    justify-content: end;
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.center {
    text-align: center;
}

table {
    table-layout: fixed;
    width: 100%;
    direction: ltr;
    border: 1px solid;
    border-collapse: collapse;
    text-align: center;
    margin: auto;
    font-family: 'Vazirmatn', 'Tengwar';
    overflow-x: unset;
}

caption {
    caption-side: bottom;
    direction: rtl;
}

td {
    border: 1px solid;
    font-size: 1.8rem;
    font-weight: 700;
}

th {
    border: 1px solid;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 5px 10px;
}

.tengwar {
    font-family: "Tengwar";
}

.table-headers {
    font-weight: bold;
    font-size: 1rem;
}

.tables {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

@media (max-width: 820px) {
    .tables {
        flex-direction: column;
        padding-left: 50px;
        padding-right: 50px;
    }
}

.vowels-table {
    margin-top: 10px;
    max-width: 85%;
}